@import "../../styles/variables.scss";

.setting_bar {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 5px gray;
  &_list {
      list-style: none;

    li:not(:last-child) {
        margin-bottom: 15px;
    }
  }
}

.label {
  margin-right: 15px;
}

.color {
  height: 40px;
  width: 40px;
}
