.form {
    height: 300px;
    width: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    margin-bottom: 30px;
    height: 50px;
    width: 80%;
    padding-left: 20px;
}

.title {
    margin-bottom: 20px;
}